<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>受講生詳細</title>
</head>
<body>
<h1>受講生詳細</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">

  <div>
    <label for="id">ID：</label>
    <input type="text" id="id" th:field="*{student.id}" required/>
  </div>

  <div>
    <label for="name">名前：</label>
    <input type="text" id="name" th:field="*{student.name}" required/>
  </div>

  <div>
    <label for="kanaName">カナ名：</label>
    <input type="text" id="kanaName" th:field="*{student.kanaName}" required/>
  </div>

  <div>
    <label for="nickname">ニックネーム：</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required/>
  </div>

  <div>
    <label for="email">メールアドレス：</label>
    <input type="email" id="email" th:field="*{student.email}" required/>
  </div>

  <div>
    <label for="area">地域：</label>
    <input type="text" id="area" th:field="*{student.area}"/>
  </div>

  <div>
    <label for="age">年齢：</label>
    <input type="number" id="age" th:field="*{student.age}"/>
  </div>

  <div>
    <label for="sex">性別：</label>
    <select id="sex" th:field="*{student.sex}" required>
      <option value="" disabled selected>選択してください</option>
      <option value="男">男</option>
      <option value="女">女</option>
      <option value="その他">その他</option>
    </select>
  </div>

  <div>
    <label for="remark">備考：</label>
    <input type="text" id="remark" th:field="*{student.remark}"/>
  </div>

  <div>
    <label for="isDeleted">削除フラグ：</label>
    <!-- フィールド名の先頭にisがついているとき -->
    <input type="checkbox" id="isDeleted" th:checked="*{student.deleted}" />
  </div>

  <div th:each="course,stat : *{studentsCourses}">
    <label for="studentCourseId">受講コースID：</label>
    <input type="text" id="studentCourseId"  th:id="studentsCourses[__${stat.index}__].Id" th:field="*{studentsCourses[__${stat.index}__].Id}"/>

    <label for="courseName">受講コース名：</label>
    <input type="text" id="courseName"  th:id="studentsCourses[__${stat.index}__].courseName" th:field="*{studentsCourses[__${stat.index}__].courseName}"/>

  </div>


  <div>
    <button type="submit">変更</button>
  </div>
</form>


</body>
</html>